<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.style.css">
    <title>page</title>
</head>

<body>
    <div class="content">

     <div id="page3">
            
            <button id="main1">
                <img src="conn.png" alt="picture">
                </button>
            <b><p class="firstText">CONNEXION</p></b>
                        
                        <div id="text">
				<h5>Login</h5><input type="text" name="Email" placeholder="entrez votre Login">
						<br><br>
                        <h5>Mot De Passe </h5> <input type="text" name="mot de passe" placeholder=" votre Mot De Passe">
                        <br>
                       <a href="index_recup.html"><strong><h6> mot de passe oublier</h6></strong></a>
                       <button id ="tet5"><a href="index_prof.html"><strong>connectez-vous</strong></a></button><br><br><br>

                       <strong>CONNECTEZ VOUS GRACE A</strong>
                                      
                        <button id ="tet4">   <select name="langue prefere">
                        <option>GOOGLE</option>
                        <option>TWITER</opption>
                        <option>YAHOO</option>
                      </select> </button><br><br>
                       
                   
                  <strong>ACCEPTEZ-VOUS LES REGLES D'UTILISATION?</strong>
                  OUI<input type="checkbox" name="2" value="OUI">
                  NON<input type="checkbox" name="4" value=NON><br>
                        </div> 
                 
                 
        </form>
        </fieldset>	<br>


    
        

       
       
        
    
        
    <button id="tet5"> <a href="index_insc.html"><h5>Creer un compte</h5></a></button> 
    
    

                        
                    
                </div> 
         </div>
    </div>
</body>

</html>