<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>page</title>
</head>

<body>
    <div class="content">

     <div id="page2">
            <header>
                <button id="main">
                <img src="delete.png" alt="picture">
                </button>
                <button class="btn">
                </button>
            </header>
            <b><p class="firstText"> Choisisez <br>un type de <br>Consultation</p></b>
            <div class="tangui">
                <button id="buto1"></button>
                <div>
                    <p>
                        <h2> Messagerie</h2>
                    </p>
                    <p id="pa">specialiste <br>dentaire</p>
                </div>
            </div>
            <div class="tangui">
                <button id="buto2"></button>
                <div>
                    <p>
                        <h2> Appel vocal</h2>
                    </p>
                    <p id="pa">specialiste <br>dentaire</p>
                </div>
            </div>
            <div class="tangui">
                <button id="buto3"></button>
                <div>
                    <p>
                        <h2> Appel video</h2>
                    </p>
                    <p id="pa">specialiste <br>dentaire</p>
                </div>
            </div>
        </div>
         </div>
</body>

</html>