<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>page</title>
</head>

<body>
    <div class="content">

     <div id="page3">
            <header>
                <button id="main">
                <img src="delete.png" alt="picture">
                </button>
                <button class="btn">
                </button>
            </header>
            <b><p class="firstText">INSCRIVEZ-VOUS</p></b>
                        <br>
                       
                            <form>
                                NOM <input type="text"name="nom"  placeholder="entrez votre Nom"><br><br><br>
                                TELEPHONE: <input type="tel"name="telephone" placeholder="entrez votre Telephone"><br><br><br>
                                EMAIL: <input type="text" name="email" placeholder="entrez votre Email"><br><br><br>
                                MOT DE PASSE: <input type="text" name="email" placeholder="votre Mot de Passe "><br><br><br>
                                <button id ="tet3"><input type="submit" value="ENVOYER"> </button>   <br><br><br>                
                                      <strong>INSCRIVEZ VOUS GRACE A</strong>
                                      
                                      <button id ="tet4">   <select name="langue prefere">
                                      <option>GOOGLE</option>
                                      <option>TWITER</opption>
                                      <option>YAHOO</option>
                                    </select> </button><br><br>
                                     
                                     
                                     
                            </form><br><br>
                           
       
                    
                        
                           
                    
                           
                           <button id ="tet5"><a href="index_prof.html"><strong>connectez-vous</strong></a></button><br><br>

                           
                       
                       
                        
                      
                </div> 
         </div>
    </div>
</body>

</html>