<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>page</title>
</head>

<body  background="nounous.jpg">
    <div class="content">

     <div id="page3">
            <header>
                <button id="main">
                
                <img src="delete.png" alt="picture">
                </button>
                <button class="btn">
                </button><br>
                <img src="circled.png" border="2" width="200" height="200" title="photo de profil"><br><br>
            

            </header>
             <input type="text"name="nom"  placeholder="NOM_UTILISATEUR"><br><br><br>

                       
                             <button id ="tet5"><a href="index_prof.html"><strong>DECONNEXION</strong></a></button>
                     
                
         </div>
    </div>
</body>

</html>